html
{
	height: 100%;
}

*, *::after, *::before
{
	box-sizing: border-box;
}

.form-label
{
	display: block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

.ErrorControl
{
    z-index: 999;
	position: absolute;
	white-space: nowrap;
	height: 20px;
	background-color: Red;
	color: White;
	text-align: left;
	filter: alpha(opacity=80);
	opacity: 0.8;

}
.menu li a i
{
	font-size: 20px;
	display: flex;
	align-items: center;
	width:25px;
}

.menu li a
{
	color: rgba(0, 0, 0, 0.65);
}


.logo-bg
{
	fill: transparent !important;
}

/* Login */
.login-box
{
	height: 100vh;
	display: flex;
	background-color: #265fd5;
}

.login-box .main-container
{
	width: 100%;
	height: 650px;
	margin: auto;
}

.login-container
{
	display: flex;
	height: 100%;
	flex-direction: row;/*Sohail*/
}

.login-slider-container
{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.login-input-container
{
	/*background-color: #ffffff;*/
	margin: 2.5rem auto;
	padding: 2rem;
	width: 35%;
	border-radius: 0.6rem;
	display: flex;
	flex-direction: column;
}

.login-input-container-header
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 6rem;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.login-input-container-header .main-logo
{
	width: 20%;
	height: 100%;
}

.login-input-container .login-title
{
	font-size: 26px;
	color: rgba(0, 0, 0, 0.65);
	text-align: center;
	padding: 30px;
	font-weight: normal;
	margin-bottom: 30px;
}

.login-input-container .loginarutitext
{
	color: #265fd5;
}

.login-input-container-body
{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 20px;
}

.login-slider-container .carousel
{
	width: 500px;
	height: 100%;
}

.carousel-inner
{
	height: 100%;
}

.carousel-indicators
{
	top: 85% !important;
}

.carousel-caption
{
	top: 95%;
	right: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.carousel-inner .item img, .carousel-inner .item a img
{
	height: 400px;
}

.form-control
{
	height: 22px;
	position: relative;
}

.date-picker .form-control, .spinner .form-control
{
	padding-right: 20px;
}

.date-picker .input-group-addon, .spinner .input-group-addon
{
	position: absolute;
	background: transparent;
	border: none;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 20px;
	right: 15px;
}

.colorpicker .input-group-addon 
{
	position: absolute;
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 6px;
	right: 10px;
}

.colorpicker-element .input-group-addon i, .colorpicker-element .add-on i {
    display: inline-block;
    cursor: pointer;
    height: 16px;
    vertical-align: text-top;
    width: 16px;
    border:1px solid #000;
}

.datepicker
{
	position: relative;
	padding:0;
}
.datepicker:after 
{
	font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 8px;
    right: 10px;
    content: "\f073";
    font-size: 16px;
    opacity:.5;
}

.globalsearch
{
	margin-left:15px;
}

.datepicker .input-group-addon{
	position: absolute;
	background: transparent;
	border: none;
	top: 4px;
	right: 15px;
	font-size: 20px;
}

.globalsearch .input-group-addon
{
	position: absolute;
	background: transparent;
	border: none;
	top: 4px;
	left: 5px;
	font-size: 20px;
}


.globalsearch.form-group .form-control
{
	padding-left:35px;
	background-color:#F7FAFC;
}

.datepicker .input-group-addon i
{
	font-size:16px;
}	

.spinner .input-group-addon
{
	top: 0;
	right:0;
}

/*Calender Start */

.ajax__calendar_container
{
	background: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	width: 280px !important;
	z-index: 99;
	left: 0;
	top: 0;
}
.ajax__calendar_container TABLE
{
	font-size: 14px;
}


.ajax__calendar_body, .ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years
{
	width: 280px !important;

}

.ajax__calendar_title
{
	height: 20px;
	text-align: center;
	font-size: 14px;
}

.ajax__calendar_prev, .ajax__calendar_next
{
	height: 20px;
	width: 20px;
	padding: 5px;
	text-align: center;
	font-size: 14px;
}

.ajax__calendar_prev:hover, .ajax__calendar_next:hover, .ajax__calendar_title:hover
{
	background: #eee;
}

.ajax__calendar_container TABLE td, 
.ajax__calendar_container TABLE th
{
	height: 20px;
	width: 20px;
	text-align: center;
	padding: 0px 9px;
	font-size: 12px;
}



.ajax__calendar_header
{
	height: 25px !important;
	padding:0 5px;
}

.ajax__calendar_dayname
{
	font-weight:bold;
}

.ajax__calendar_month,
.ajax__calendar_year
{
	height:45px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ajax__calendar_other
{
	color: #999;
}

.ajax__calendar_active .ajax__calendar_day
{
	background-image: linear-gradient(to bottom, #265fd5, #265fd5);
	color: #fff;
}

.ajax__calendar_day
{
	width:20px !important;
	height:20px !important;
	border-radius: 50% !important;
}

.ajax__calendar_footer
{
	height: 30px !important;
	padding: 5px;
	margin-top: 10px;
	font-size: 14px;
}

.ajax__calendar_day
{
	text-align: center !important;
}


/*Calender End */

.UpdtProgress {
    /*background-color: #000000;
            filter: alpha(opacity=50);
            opacity: 0.5;
            z-index: 100100 !important;*/
    background-color: #000000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 99999999;
    -moz-opacity: 0.6;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    /*padding-top: 20%;*/
    text-align: center;
    color: white;
    font-size: 1.50rem;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99999999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.group-header
{
	background-color:#eee;
}
.main-group-header
{
    background-color:#ddd;
    font-weight:bold
}
.divider 
{
	display: flex;
    margin: 10px 0;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    text-align: left;
    border-top: 0;
    clear: both;
    width: 100%;
}


.divider:after, 
.divider:before
{
    top: 50%;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.06);
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    content: "";
}

.divider:before
{
	top: 50%;
    width: 5%;
}

.divider:after
{
    top: 50%;
    width: 95%;
}

.CompDetail
{
	flex: 1;
	text-align: center;
	color: rgba(0, 0, 0, 0.65);
	display: flex;
	align-items: center;
	justify-content: center;	
	font-weight:bold;
}


@media (min-width: 992px) {
  .modal-xlg {
    width: 1000px;
  }
}

.modal-dialog.card .body
{
	overflow-y:Auto;	
}

.btn-group .btn
{
	margin-left:0 !important;
}

.bg-color-1
{
	background-color:#F44336 !important;	
}

.text-color-1
{
	color:#F44336 !important;	
}

.bg-color-2
{
	background-color:#E91E63 !important;	
}

.text-color-2
{
	color:#E91E63 !important;	
}


.bg-color-3
{
	background-color: #9C27B0 !important;	
}

.text-color-3
{
	color:#9C27B0 !important;
}


.bg-color-4
{
	background-color:#03A9F4 !important; 	
}

.text-color-4
{
	color:#03A9F4 !important;
}

.bg-color-5
{
	background-color:#009688 !important;
}

.text-color-5
{
	color:#009688 !important;
}

.bg-color-6
{
	background-color:#8BC34A !important;
}

.text-color-6
{
	color:#8BC34A !important;
}

.bg-color-7
{
	background-color:#FFC107 !important;
}

.text-color-7
{
	color:#FFC107 !important
}

.bg-color-8
{
	background-color:#795548 !important;
}

.text-color-8
{
	color:#795548 !important;
}

.bg-color-9
{
	background-color:#607D8B !important;
}

.text-color-9
{
	color:#607D8B !important;
}

.bg-color-10
{
	background-color:#000000 !important;
}

.text-color-10
{
	color:#000000 !important;
}

.modal-dialog 
{
	top :0 !important;
	position:fixed !important;
}

.inner-card 
{
	box-shadow:none;
    border: 1px solid rgba(204, 204, 204, 0.35);
}
	
.zoom-img
{
	width: 150px; height:150px;
}

	
.flupload
{
	width: 30px;
	height: 30px;
	position: absolute;
	opacity: 0;
	z-index:99999;
}

.fluploadcontainer
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin:5px 0	
}

.fluploadcontainer .btn-circle,
.btn-profile-remove-img,
.profile-signature ~ .btn-profile-remove-signature
{
	width:30px;
	height:30px;
}

.fluploadcontainer .btn-circle i,
.btn-profile-remove-img i,
.profile-signature ~ .btn-profile-remove-signature i
{
	font-size:14px;
}

.profile-signature ~ .btn-profile-remove-signature
{
position: absolute;
top: 5px;
right: 10px;
}

.btn-profile-remove-img 
{
	position:absolute;
	top:10px;
	right:10px;
}

.border
{
	border:2px solid #ddd;	
	border-radius:5px;
	padding:10px;
}

.text-warning 
{
	color:#ff9600;	
}

.text-primary
{
	color:#265fd5;	
}

.label-info
{
	background-color:#265fd5;
}

.panel-body
{
	overflow-y:auto;
}
.panel-title
{
	font-size:14px;
}

.panel-group
{
	margin-bottom:10px;
}
.dropdown-menu
{
	min-width:250px;
}

.modal-l5
{
	z-index:150001 !important;
}

.bd-l5
{
	z-index:150000 !important;
}


.modal-l4
{
	z-index:140001 !important;
}

.bd-l4
{
	z-index:140000 !important;
}

.modal-l3
{
	z-index:130001 !important;
}

.bd-l3
{
	z-index:130000 !important;
}

.modal-l2
{
	z-index:120001 !important;
}

.bd-l2
{
	z-index:120000 !important;
}

.tl-employee-img
{
	height: 30px;
	width: 30px;
	flex:1;
	border-radius: 50%;
}

.tl-employee-text
{
	font-size:12px;
}

.tl-nominated-text
{
	font-size:12px;
	font-weight:bold;
	display:block;
	text-align:left;
	margin-bottom:5px;
}

.pipeline-box .text-primary
{
	background-color: #1f91f3;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	display: inline-block;
}
.pipeline-box .footer
{
	padding:5px 0;
}


.pipeline-box
{
	background: #F8F8F4;
	padding: 10px 8px; 
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.30), 0 1px 3px 1px rgba(60,64,67,0.15);
	margin-bottom:10px;
}

.overflow
{
	overflow:auto;
}

.card[disabled]
{
	background-color:#f4f4f4;
}

.bg-pw 
{
	background-color:PowderBlue;	
}

.bg-lc
{
	background-color:LightCoral;	
}

.CompLogo
{
	width: 50px;
}


.sidebar .nav-tabs
{
	display:flex;
}


.sidebar .nav-tabs li
{
	flex:1;
	text-align:center;
}

.label.label-warning,
.label.label-info,
.label.label-danger,
.label.label-success
.label.label-primary
{
	display: inline-block; 
	text-overflow: ellipsis; 
	overflow: hidden;
	max-width:100%;
	text-align: left;
}

/* Sohail Start */
.d-block
{
    display:block!important;
}
li .bold
{
    font-weight:bolder;
}
/* Sohail end */

.colorbox
{
	border:1px solid #ccc;
	border-radius: 20px;
	height: 20px;
	width: 20px;
	display:inline-block;
}

.colorbox-sm
{
	border:1px solid #ccc;
	border-radius: 10px;
	width:14px;
	height:14px;
	display:inline-block;
}

/* dashboard */

.quick-links
{
	text-decoration:none;
	cursor:pointer;
}

.quick-links .info-box-4 .content
{
	display:flex;
	flex:1;
	margin-right:40px;	
}
.quick-links .info-box-4 .content .text
{
	margin-top:0;
}

.quick-links .info-box-4
{
	margin-bottom:20px;
	height:60px;
	display:flex;
	align-items:center;
	font-weight:bold;
}

.quick-links .info-box-4 .icon
{
	bottom:auto;
}

.quick-links .info-box-4 .icon i
 {
	font-size:30px;
}

.dashboard.card .info-box-4
{
	box-shadow:none;
	display: flex;
	align-items: center;
	margin:0;
}

.dashboard.card .info-box-4 .content
{
	flex:1;
	padding:0;
	margin-right:5px;
	display:inline-block;
}

.dashboard.card .info-box-4 .icon i
{
	font-size:30px;
}

.dashboard.card .info-box-4 .icon
{
	position:relative;
	top:0;
	bottom:0;
}

.dashboard.card.dashboard-list
{
	margin:0;	
}

.comment-box
{
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px;	
}

.comment-box .media-left
{
	width:40px;
}
.comment-box .media-left img
{
	width: 40px;
	height: 40px;
    margin-right: 8px;
    border-radius: 50%;
}

.comment-box .media-body .title
{
	font-weight: 600;
    color: #555;	
}
.card.dashboard .body
{
	min-height:310px;	
	max-height:310px;	
	overflow:auto;
}
.card.dashboard.no-footer .body
{
	min-height:353px;	
	max-height:353px;	
}

.card.dashboard.chart .body
{
	min-height:355px;	
	max-height:355px;	
	overflow:auto;
}

.highcharts-container 
{
	display:flex;
	align-items:center;
	height:352px !important;
}


.card.dashboard .info-box-4 .content .text
{
	margin:0;
	font-weight:bold;
}

.welcome-title
{
	color:#265fd5;
	margin-top:10px;
	font-weight:normal;
}
.welcome-user
{
	font-weight:bold;
}

ul.creative-dots
{
	list-style-type:none;
}

.card.welcome-card
{
	overflow:hidden;
}

ul.creative-dots li
{
	position:absolute;
	border-radius: 100%;
}


ul.creative-dots li.big-dot {
    left: -31px;
    top: -8px;
    width: 50px;
    height: 50px;
    border-radius: 80% !important;
}

ul.creative-dots li.semi-big-dot {
    width: 30px;
    height: 30px;
    left: -14px;
    top: 42px;
}

ul.creative-dots li.medium-dot {
    width: 20px;
    height: 20px;
    left: 18px;
    top: -5px;
}

ul.creative-dots li.semi-medium-dot {
    width: 13px;
    height: 13px;
    left: 20px;
    top: 38px;
}

ul.creative-dots li.semi-small-dot {
    width: 8px;
    height: 8px;
    left: 32px;
    top: 23px;
}

ul.creative-dots li.small-dot {
    width: 4px;
    height: 4px;
    left: 42px;
    top: 37px;
}

.bg-primary {
    background-color: #7e37d8 !important;
    color: #fff;
}

.bg-secondary {
    background-color: #fe80b2 !important;
}

.bg-warning {
    background-color: #ffc717 !important;
}

.bg-info {
    background-color: #06b5dd !important;
}
.bg-secondary {
    background-color: #fe80b2 !important;
}

.welcome-card .body
{
	padding:15px 60px;
}
.chart-container
{
	width:99%;
	overflow:auto !important;
	display:flex;
	align-items:center;
}
a:hover, a:focus
{
	 text-decoration:none;
	 cursor:pointer;	
}
.profile-card .profile-footer img
{
	height:70px;
}
.announcement-text
{
	text-overflow: ellipsis;
    max-height: 100px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev
{
    display:flex;
    justify-contents:center;
}.panel.detail-box
{
	border: 1px solid #ddd;
}
.panel.detail-box .title
{
	font-weight: bold; 
	color: #666;
}

.panel.detail-box .content
{
	margin-top: 10px;
	color: #999;
	font-size: 13px;
}
.panel.detail-box .progress
{
	margin:0;
	height: 10px !important;
}

.action-user-comment-box
{
	margin-bottom: 20px;
	border:1px solid #ddd;
	background-color: #fff;
}

.action-user-comment-box .heading 
{
	background-color: #fff;
	padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
	align-items: center;
}


.action-user-comment-box .heading .img-box
{
	margin-right:10px
}
.action-user-comment-box .comment-user-detail .user
{
	font-size: 14px;
	color: #666;
	margin-top: 0;
	margin-bottom: 6px;
}

.action-user-comment-box .comment-user-detail .date
{
	font-size: 12px;
}

.action-user-comment-box .comment
{
	padding:15px;
}

.action-user-comment-box .footer
{
	padding:10px 15px;
}
.action-user-comment-box .footer a
{
    color: #777;
    text-decoration: none;
    font-size:13px;
    margin-right:10px;
}
.action-user-comment-box .footer a i
{
	font-size: 14px;
    margin-right: 5px;
}

.no-comments
{
	display:flex;
	align-items: center;
	justify-content: center;    
	height:100%;
}

.no-comments p 
{
	color:#777;
	font-size:20px;
}

.chk-sm [type="checkbox"] + label
{
	margin:0;
}

.full-body
{
	width:100%;
}

.table.no-header > tbody:first-child > tr:first-child > th, .table.no-header > tbody:first-child > tr:first-child > td
{
	font-weight:normal
}

	
	.Schedule-box-body
{
	display:flex;
	width:100%;
}

.Schedule-box-body .sub-title
{
	margin-right: 20px;
}

.Schedule-box-body .sub-title.f1
{
	flex:1;
}

.show-dot
{
	position:relative;
	margin-left:12px;
	display:inline-block;
	color: #555;
}
.show-dot:after
{
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	background: #265fd5;
	border-radius: 50%;
	left: -15px;
	top: 6px;
}

.schedule-day,.schedule-today
{
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 35px;
	padding: 4px;
	width: 32px;
	height: 32px;
}
.schedule-today
{
	background: #265fd5;
	color: #fff;
}

.schedule-today-text
{
	color: #265fd5;
}

    .table.table-vertical-center tbody tr td,
    .table.table-vertical-center tbody tr th 
    {
    	vertical-align:middle;
    }

/*Sohail Start */
.login-input-body 
{
    background-color:#ffffff;
    padding:20px;
    border-radius: 0.6rem;
}

/* medium - display 2  */
@media (min-width: 300px) {

.login-slider-container, .login-slider-container .carousel, .login-input-container 
{
    width:100%;
    align-items:center;
}

.login-container 
{
    flex-direction:column;
}

.login-input-body 
{
    width:100%;
    max-width:430px;
}
  
  .carousel-inner
{
	height: auto;
}

.imgAnnouncement 
{
  height:40%!important;
  width:auto;
}

.carousel-caption
{
	top: 31%;	
}
  
.carousel-indicators
{
	top: 120% !important;
}

.see-more 
{
margin-left:73% !important;    
}  

.login-box .main-container 
{
   height:650px;
}
  
}

/* large - display 3 */
@media (min-width: 992px) {

.login-slider-container, .login-slider-container .carousel, .login-input-container 
{
    width:100%;
    align-items:center;
}

.login-container 
{
    flex-direction:row;
}

.login-input-body 
{
    width:70%;
    max-width:430px;
    height:100vh;
}

.carousel-inner
{
	height: 100%;
}

.imgAnnouncement 
{
  height:80%!important;
  width:auto;
}
  
.carousel-caption
{
	top: 75%;	
}
  
.carousel-indicators
{
	top: 70% !important;
}

.see-more 
{
margin-left:85% !important;    
}

.login-box .main-container 
{
   height:100vh;
}
}
/*Sohail End */

#leftsidebar
{
	z-index:9 !important;
}

.nav > li > a:hover, .nav > li > a:focus,
.nav .open > a, .nav .open > a:hover,
.nav .open > a:focus
{
	background-color: Transparent;
}

.vacancy #adetails
{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.vacancy #adetails span
{
	margin-right:5px;
}
.vacancy .bg-warning 
{
	padding: 4px;
	border-radius:4px;
}

/*Pinkal (17-May-2024) -- Start
'NMB Enhancement For Mortgage Loan. */

.table.table-vertical-top tbody tr td,
.table.table-vertical-top tbody tr th 
{
	vertical-align:top;
}

/*Pinkal (17-May-2024) -- End */

