
body
{
    /*background: #fff;*/
    background: #fff url(../black/images/background.jpg) repeat;
    margin: 0;
    padding: 0;
    font-family: Verdana , sans-serif;
    font-size: 13px;
}
.content
{
    margin: 30px 52px;
    display: block;
}
.menu
{
    margin: auto 30px auto 52px;
    display: block;
    top: 0px;
    position: absolute;
    width: 90%;
}
.panel
{
    /*position: absolute;padding: 5px;height: 20px;width: 250px;height: 64px;left: 50%;margin: 70px 0 0 -125px;z-index: 1;*/
}
.panel a
{
    display: inline-block;
    width: 33px;
    margin: 0;
    height: 25px;
    outline: none;
    background: #45484d;
    border: solid 1px #333;
    text-align: left !important;
}
.panel a:nth-child(1)
{
    background: #e0e0e0;
}
.panel a:nth-child(2)
{
    background: #111111;
}
.panel a:nth-child(3)
{
    background: #82837E;
}
.panel a:nth-child(4)
{
    background: #02b8fa;
}
.panel a:nth-child(5)
{
    background: #008C9E;
}
.panel a:nth-child(6)
{
    background: #88c425;
}
.panel a:nth-child(7)
{
    background: #2ecc71;
}
.panel a:nth-child(8)
{
    background: #C21A01;
}
.panel a:nth-child(9)
{
    background: #FA023C;
}
.panel a:nth-child(10)
{
    background: #ff670f;
}
.panel a:nth-child(11)
{
    background: #D46D22;
}
.panel a:nth-child(12)
{
    background: #febf01;
}
.panel a:nth-child(13)
{
    background: #a849a3;
}
.panel a:nth-child(14)
{
    background: #F56991;
}
.options
{
    margin: 100px 0 0 0px;
    float: left;
    position: fixed;
    left: -310px;
    background: #444;
    border-bottom-right-radius: 10px;
}
.options .tools
{
    height: 50px;
    width: 50px;
    margin: 0 -50px 0 0;
    display: block;
    background: #555;
    float: right;
    cursor: pointer;
    color: #dedede;
    font-size: 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.options .tools i
{
    margin: 10px 0 0 11px;
}
.options .tools:hover
{
    background: #333;
    transition: all .3s linear;
}
.options > div
{
    margin: 0 auto;
    display: block;
    padding: 5px 10px 5px;
    width: 290px;
    color: #dedede;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.options div span
{
    width: 150px;
    font-weight: 500;
    margin: 0 0 5px 0;
    display: inline-block;
}
.options .align
{
    margin-top: 5px;
}
.options .reset
{
    text-align: center;
    height: 50px;
}
#btReset
{
    padding: 8px 50px;
    margin-top: 3px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: #02b8fa;
}

.menu_responsive
{
    background: #5BACE4;
    box-shadow: 12px 0px 15px -4px rgba(0, 0, 0, 1), -12px 0px 8px -4px rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding: 7px 15px;
    display: none;
    float: left;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-toggle
{
    padding: 7px;
    background: none;
    border: 1px solid rgba(255,255,255,0.5);
    float: right;
    border-radius: 5px;
}
.nav-toggle .icon-bar
{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}
.nav-toggle .icon-bar + .icon-bar
{
    margin-top: 4px;
}

.jetmenu
{
    margin: 0px 0 20px 0;
    z-index: 99;
}
.jetmenu
{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
    list-style: none;
    background: #000000; /*display: none;*/
    -moz-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 1), -12px 0 8px -4px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 1), -12px 0 8px -4px rgba(0, 0, 0, 1);
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 1), -12px 0 8px -4px rgba(0, 0, 0, 1);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}
.jetmenu li
{
    display: inline-block;
    float: left;
}
.jetmenu a
{
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    outline: 0;
    z-index: 10;
}
.jetmenu > li > a
{
	padding: 20px 9px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}
.jetmenu > li.active > a, .jetmenu > li:hover > a
{
    background: #FEBF01;
    color: #fff;
}
.jetmenu > li:hover > div
{
    opacity: 1;
    visibility: visible;
    overflow: visible;
    display: block;
}
.jetmenu ul.dropdown, .jetmenu ul.dropdown li ul.dropdown
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 134px;
    background: #333;
}
.jetmenu ul.dropdown
{
    top: 60px;
}
.jetmenu ul.dropdown li ul.dropdown
{
    left: 100%;
    top: inherit;
}
.jetmenu ul.dropdown li
{
    clear: both;
    width: 100%;
    font-size: 12px;
}
.jetmenu ul.dropdown li a
{
    width: 100%;
    padding: 12px 24px;
    display: inline-block;
    float: left;
    clear: both;
	font-family: 'Verdana' ,sans-serif;
    text-decoration: none;
    color: #999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.jetmenu ul.dropdown li:hover > a
{
    background: #e0e0e0;
    color: #555;
}
.jetmenu ul.dropdown li ul.dropdown.left
{
    left: auto;
    right: 100%;
}
.jetmenu .indicator
{
    position: relative;
    left: 5px;
    top: 0;
    font-size: 14px;
    float: right;
}
.jetmenu ul li .indicator
{
    font-size: 12px;
    top: 1px;
    left: 10px;
}
.jetmenu > li > .megamenu
{
    position: absolute; /*display: none;*/
    display: block;
    visibility: hidden;
    background: #303030;
    background: rgba(81, 80, 80, 1);
    width: 25%;
    /*top: 54px;*/
    font-family: 'Verdana';
    font-size: 12px;
    color: #fff;
    z-index: 99;
    padding: 20px 30px;
    border-top: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /*-moz-box-shadow:    5px 5px 5px #000000; 			-webkit-box-shadow: 5px 5px 5px #000000; 			box-shadow:         5px 5px 5px #000000;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    padding-bottom: 0px;
}
.jetmenu li > .megamenu ul
{
    margin: 0 0 20px;
    float: left;
    padding: 0;
    display: block;
    position: relative;
}
.jetmenu li > .megamenu ul li
{
    width: 100%;
    padding: 4px 0;
    padding-left: 15px;/*20150402*/
}
.jetmenu li > .megamenu ul li.title
{
    margin: 0 0 8px;
    padding: 0 0 5px;
    font-size: 14px;
    border-bottom: solid 1px #666;
}
.jetmenu li > .megamenu h5
{
    width: 100%;
    margin: 0;
    padding: 0;
}
.jetmenu li > .megamenu a
{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}
.jetmenu li > .megamenu a:hover
{
    color: #FEBF01;
}
.jetmenu .megamenu img
{
    width: 100%;
    -webkit-transition: border .3s linear;
    -moz-transition: border .3s linear;
    -o-transition: border .3s linear;
    transition: border .3s linear;
}
.jetmenu > li.fix-sub > .dropdown, .jetmenu > li.fix-sub > .megamenu, .jetmenu > li.fix-sub > .megamenu.half-width
{
    right: 0;
}
.jetmenu > li > .megamenu.half-width
{
    width: 50%;
}
.jetmenu > li > .megamenu.full-width
{
    width: 100%;
    left: 0;
}
.jetmenu li > .megamenu form
{
    width: 100%;
}
.jetmenu li > .megamenu form input[type=text], .jetmenu li > .megamenu form textarea
{
    padding: 5px;
    color: #999;
    background: #444;
    font-family: 'Verdana' ,sans-serif;
    font-size: 14px;
    border: solid 1px transparent;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border .3s linear;
    -moz-transition: border .3s linear;
    -o-transition: border .3s linear;
    transition: border .3s linear;
}
.jetmenu li > .megamenu form input[type=text]:focus, .jetmenu li > .megamenu form textarea:focus
{
    border-color: #e0e0e0;
}
.jetmenu li > .megamenu form input[type=text], .jetmenu li > .megamenu form textarea
{
    width: 100%;
    margin-top: 10px;
}
.jetmenu li > .megamenu form input[type=submit]
{
    width: 25%;
    float: right;
    height: 30px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    background: #444;
    color: #777;
    font-family: 'Verdana' ,sans-serif;
    -webkit-transition: background .3s linear;
    -moz-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}
.jetmenu li > .megamenu form input[type=submit]:hover
{
    background: #e0e0e0;
    color: #555;
}
.megamenu .row
{
    width: 100%;
    margin-top: 15px;
}
.megamenu .row:first-child
{
    margin-top: 0;
}
.megamenu .row:after, .megamenu .row:before
{
    display: table;
    content: "";
    line-height: 0;
}
.megamenu .row:after
{
    clear: both;
}
.megamenu .row .col1, .megamenu .row .col2, .megamenu .row .col3, .megamenu .row .col4, .megamenu .row .col5, .megamenu .row .col6
{
    display: block;
    min-height: 20px;
    float: left;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.megamenu .row [
class*=col]:first-child
{
    margin-left: 0;
}
.megamenu .row .col1
{
    width: 14.893617021276595%;
}
.megamenu .row .col2
{
    width: 31.914893617021278%;
}
.megamenu .row .col3
{
    width: 48.93617021276595%;
}
.megamenu .row .col4
{
    width: 65.95744680851064%;
}
.megamenu .row .col5
{
    width: 82.97872340425532%;
}
.megamenu .row .col6
{
    width: 100%;
}
.jetmenu > li.right
{
    float: right;
}
.jetmenu > li.right > .dropdown, .jetmenu > li.right > .megamenu, .jetmenu > li.right > .megamenu.half-width
{
    right: 0;
}
.jetmenu > li.jsright
{
    float: right;
}
.jetmenu > li.jsright.last > .dropdown, .jetmenu > li.jsright.last > .megamenu, .jetmenu > li.jsright.last > .megamenu.half-width
{
    right: 0;
}
.jetmenu > li > a > i
{
    line-height: 23px !important;
    margin-right: 6px;
    font-size: 13px;
    float: left;
}
.jetmenu > li.showhide
{
    display: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
    color: #FFFFFF;
    background: #000;
}
.jetmenu > li.showhide span.title
{
    margin: 15px 0 0 25px;
    font-family: 'Verdana' ,sans-serif;
    float: left;
}
.jetmenu > li.showhide span.icon
{
    margin: 17px 20px;
    float: right;
}
.jetmenu > li.showhide .icon em
{
    margin-bottom: 3px;
    display: block;
    width: 20px;
    height: 2px;
    background: #999;
}
.black ul.dropdown li:hover > a, .black > li.active > a, .black > li:hover > a
{
    background: #111;
    color: #fff;
}
.black li > .megamenu form input[type=text]:focus, .black li > .megamenu form textarea:focus
{
    border-color: #111;
}
.black li > .megamenu form input[type=submit]:hover
{
    background: #111;
    color: #fff;
}
.black li > .megamenu a:hover
{
    color: #dedede;
}
.grey ul.dropdown li:hover > a, .grey > li.active > a, .grey > li:hover > a
{
    background: #82837E;
    color: #fff;
}
.grey li > .megamenu form input[type=text]:focus, .grey li > .megamenu form textarea:focus
{
    border-color: #82837E;
}
.grey li > .megamenu form input[type=submit]:hover
{
    background: #82837E;
    color: #fff;
}
.grey li > .megamenu a:hover
{
    color: #dedede;
}
.blue ul.dropdown li:hover > a, .blue > li.active > a, .blue > li:hover > a
{
    background: #FEBF01;
    color: #000000;
}
.blue li > .megamenu form input[type=text]:focus, .blue li > .megamenu form textarea:focus
{
    border-color: #02b8fa;
}
.blue li > .megamenu form input[type=submit]:hover
{
    background: #02b8fa;
    color: #fff;
}
.blue li > .megamenu a:hover
{
    color: #FEBF01;
}
.deeper ul.dropdown li:hover > a, .deeper > li.active > a, .deeper > li:hover > a
{
    background: #008C9E;
    color: #fff;
}
.deeper li > .megamenu form input[type=text]:focus, .deeper li > .megamenu form textarea:focus
{
    border-color: #008C9E;
}
.deeper li > .megamenu form input[type=submit]:hover
{
    background: #008C9E;
    color: #fff;
}
.deeper li > .megamenu a:hover
{
    color: #008C9E;
}
.green ul.dropdown li:hover > a, .green > li.active > a, .green > li:hover > a
{
    background: #88c425;
    color: #fff;
}
.green li > .megamenu form input[type=text]:focus, .green li > .megamenu form textarea:focus
{
    border-color: #88c425;
}
.green li > .megamenu form input[type=submit]:hover
{
    background: #88c425;
    color: #fff;
}
.green li > .megamenu a:hover
{
    color: #88c425;
}
.emerald ul.dropdown li:hover > a, .emerald > li.active > a, .emerald > li:hover > a
{
    background: #2ecc71;
    color: #fff;
}
.emerald li > .megamenu form input[type=text]:focus, .emerald li > .megamenu form textarea:focus
{
    border-color: #2ecc71;
}
.emerald li > .megamenu form input[type=submit]:hover
{
    background: #2ecc71;
    color: #fff;
}
.emerald li > .megamenu a:hover
{
    color: #2ecc71;
}
.red ul.dropdown li:hover > a, .red > li.active > a, .red > li:hover > a
{
    background: #C21A01;
    color: #fff;
}
.red li > .megamenu form input[type=text]:focus, .red li > .megamenu form textarea:focus
{
    border-color: #C21A01;
}
.red li > .megamenu form input[type=submit]:hover
{
    background: #C21A01;
    color: #fff;
}
.red li > .megamenu a:hover
{
    color: #C21A01;
}
.pox ul.dropdown li:hover > a, .pox > li.active > a, .pox > li:hover > a
{
    background: #FA023C;
    color: #fff;
}
.pox li > .megamenu form input[type=text]:focus, .pox li > .megamenu form textarea:focus
{
    border-color: #FA023C;
}
.pox li > .megamenu form input[type=submit]:hover
{
    background: #FA023C;
    color: #fff;
}
.pox li > .megamenu a:hover
{
    color: #FA023C;
}
.orange ul.dropdown li:hover > a, .orange > li.active > a, .orange > li:hover > a
{
    background: #ff670f;
    color: #fff;
}
.orange li > .megamenu form input[type=text]:focus, .orange li > .megamenu form textarea:focus
{
    border-color: #ff670f;
}
.orange li > .megamenu form input[type=submit]:hover
{
    background: #ff670f;
    color: #fff;
}
.orange li > .megamenu a:hover
{
    color: #ff670f;
}
.sunburst ul.dropdown li:hover > a, .sunburst > li.active > a, .sunburst > li:hover > a
{
    background: #D46D22;
    color: #fff;
}
.sunburst li > .megamenu form input[type=text]:focus, .sunburst li > .megamenu form textarea:focus
{
    border-color: #D46D22;
}
.sunburst li > .megamenu form input[type=submit]:hover
{
    background: #D46D22;
    color: #fff;
}
.sunburst li > .megamenu a:hover
{
    color: #D46D22;
}
.yellow ul.dropdown li:hover > a, .yellow > li.active > a, .yellow > li:hover > a
{
    background: #febf01;
    color: #222;
}
.yellow li > .megamenu form input[type=text]:focus, .yellow li > .megamenu form textarea:focus
{
    border-color: #febf01;
}
.yellow li > .megamenu form input[type=submit]:hover
{
    background: #febf01;
    color: #222;
}
.yellow li > .megamenu a:hover
{
    color: #febf01;
}
.purple ul.dropdown li:hover > a, .purple > li.active > a, .purple > li:hover > a
{
    background: #a849a3;
    color: #fff;
}
.purple li > .megamenu form input[type=text]:focus, .purple li > .megamenu form textarea:focus
{
    border-color: #a849a3;
}
.purple li > .megamenu form input[type=submit]:hover
{
    background: #a849a3;
    color: #fff;
}
.purple li > .megamenu a:hover
{
    color: #a849a3;
}
.pink ul.dropdown li:hover > a, .pink > li.active > a, .pink > li:hover > a
{
    background: #F56991;
    color: #fff;
}
.pink li > .megamenu form input[type=text]:focus, .pink li > .megamenu form textarea:focus
{
    border-color: #F56991;
}
.pink li > .megamenu form input[type=submit]:hover
{
    background: #F56991;
    color: #fff;
}
.pink li > .megamenu a:hover
{
    color: #F56991;
}

.jetmenu li > .megamenu ul li.title
{
    margin: 0 0 8px;
    padding: 0 0 5px;
    font-size: 14px;
    border-bottom: solid 1px #FEBF01;
    display:table;/*Nilay*/
    height:35px;/*Nilay*/
}
/*
@media (min-width:768px) and (max-width:900px)
{
	.jetmenu > li > .megamenu
	{
		width: 100% !important;
		left: 0 !important;
	}
}

@media (max-width:768px)
{
	.options
	{
		font-size: 12px;
	}
	.content
	{
		margin: 0 20px;
		display: block;
		height: 800px;
	}
	.menu
	{
		margin: 0px;
		width: 100%;
		display: block;
		height: 800px;
	}


	.jetmenu li > .megamenu ul li.title
	{
		border: none;
	}
}
@media (max-width: 1100px)
{
	.menu
	{
		margin: 0px;
		width: 100%;
		display: block;
	}
}
@media (max-width: 480px)
{
	.content
	{
		margin: 0;
	}
}
*/

@media only screen and (max-width:768px)
{
    .menu_responsive
    {
        display: inline-block;
    }
    #menu-wrapper
    {
        display: none;
    }

    .jetmenu > li
    {
        /*display: block;*/
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .jetmenu > li > a
    {
        padding: 15px 25px;
    }
    .jetmenu a
    {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .jetmenu ul.dropdown, .jetmenu ul.dropdown li ul.dropdown
    {
        width: 100% !important;
        left: 0;
        position: static !important;
        border: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .jetmenu ul.dropdown li
    {
        background: #fff !important;
        border: none;
    }
    .jetmenu ul.dropdown > li > a
    {
        padding-left: 40px !important;
    }
    .jetmenu > li > .megamenu
    {
        width: 100% !important;
        position: relative;
        border-top: none;
        opacity: 0;
        display: none;
        top: 0;
        left: 0;
        background: #303030;
        background: rgba(48, 48, 48, 1);
        transition: all .3s ease .15s;
    }
    .jetmenu > li > .megamenu .row [
    class*=col]
    {
        float: none;
        display: block;
        width: 100% !important;
        margin-left: 0;
        margin-top: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .jetmenu > li > .megamenu .row, .jetmenu > li > .megamenu .row:first-child [
    class*=col]:first-child
    {
        margin-top: 0;
    }
    .jetmenu > li > ul.dropdown > li > a
    {
        padding-left: 40px !important;
    }
    .jetmenu > li > ul.dropdown > li > ul.dropdown > li > a
    {
        padding-left: 60px !important;
    }
    .jetmenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a
    {
        padding-left: 80px !important;
    }
    /*.jetmenu > li.fix-sub, .jetmenu li > .megamenu ul li.title
                    	{
                    	     background: #303030;
                    	    background: rgba(48, 48, 48, 0.79);
                    	}*/

.jetmenu > li > div {
    opacity: 1!important;
    visibility: visible!important;
    overflow: visible!important;
    display: block!important;
    }
    
    .megamenu ul
    {
        float:none!important;
    }
    
    .megamenu ul > li > a    
    {
        float:left!important;
    }
}

.hoverzone
{
    position: relative;
}
.hoverzone:hover .ull
{
    display: block;
    z-index: 10000;
}
.ull
{
    position: absolute;
    top: 35px;
    display: none;
    background-color: rgba(48, 48, 48, 1);
    width: 200px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 1px solid #E1E1E1;
    padding-right: 8px;
	right: -5px;
}
.lii
{
    border-bottom: 1px solid #e1e1e1;
    padding: 0px;
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    padding-left: 15px;
    width: 192px;
}

.lii:hover
{
    background-color: #FEBF01;
}
.aa
{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    width: 190px !important;
}

.aa:hover
{
    color: #000000;
    text-decoration: none;
}
.contain
{
    margin: 56px auto auto auto;
    width: 100%;
    max-width: 1180px;
    padding: 10px;
    background: #fff;
    -moz-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 8px -4px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 8px -4px rgba(0, 0, 0, 0.8);
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 8px -4px rgba(0, 0, 0, 0.8);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}
#loginhead1
{
    background-image: url(../image/bg_titlebar.gif); /* background-color:#5582C2; */
    background-repeat: repeat-x;
    z-index: 50;
    border: none;
	font-family: Verdana;
    font-size: medium; /*padding:4px 7px;*/
    text-transform: capitalize;
    color: #FFFFFF;
    font-variant: small-caps;
}
.gridview
{
    cursor: default;
    border-color: #DDD;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #DDD;
    font-size: 14px;
}
.griviewheader
{
    height: 25px;
    background: #000;
    color: #fff;
    text-align: left;
	border:solid 1px #DDD;
}
.griviewheader > td
{
    padding-left: 5px;
}
.griviewitem > td
{
    padding-left: 5px;
}
.griviewitem > td~span
{
    padding-left: 0px;
}
.griviewitem
{
    border-bottom: 1px solid #DDD;
}
.griviewitem:hover
{
    background-color: #EDF1F4;
}
.gridimg
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #DEDEDE;
    height: 25px;
}
.gridedit
{
    background: url(./images/icons.png) no-repeat;
    background-position: 2px -652px;
    cursor: pointer;
    float: left;
    height: 24px;
    width: 18px;
}
.griddelete
{
    background: url(./images/icons.png) no-repeat;
    background-position: 2px -830px;
    cursor: pointer;
    float: left;
    height: 24px;
    width: 18px;
}
.gridiconbc
{
    /*background-color: #F7F7F7;
    border: 1px solid #DDD;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset;
    float: left;
    margin: 0 5px;*/
}
.theme
{
    /*   Theme settings on windows left side fixed position: fixed; top: 200px;     left: 0px; z-index: 101;  height:42px;     width:45px; background: -webkit-linear-gradient(top,#5BACE4 -40%,#93CEF7 100%);         -moz-border-bottom-top-radius: 5px;     -webkit-border-bottom-top-radius: 5px;     border-bottom-top-radius: 5px;     -khtml-border-bottom-top-radius: 5px;         -moz-border-bottom-right-radius: 5px;     -webkit-border-bottom-right-radius: 5px;     border-bottom-right-radius: 5px;     -khtml-border-bottom-right-radius: 5px;         cursor:pointer; */
    position: relative;
    float: right;
    padding: 6px 10px 6px 2px;/* Nilay (10 Jan 2017) */
}
.theme > div
{
    height: 100%;
    width: 100%;
    color: #fff;    
}
.theme:hover .sidebar
{
    display: block;
    z-index: 10000;
}
.sidebar
{
    /*   Theme settings on windows left side fixed     position: absolute;     top: 0px;     left: -85px;     margin-top: -1px;     box-shadow: 0 0 8px gray;         cursor: default; */
    position: absolute;
/*
    top: 8px;
    right: 160px;
*/
    top: 41px;
    right: 128px;
    z-index: 101;
    display: none;
}

.theme > .sidebar > ul
{
    background-color: #fff;
    width: 156px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 1px solid #E1E1E1;
    padding-right: 8px;
}
.themeli
{
    border-bottom: 1px solid #e1e1e1;
    padding: 0px;
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    padding-left: 15px;
    background-color: #303030;
    color: #fff;
    width: 150px;
}
.theme > .sidebar > ul > li
{
    border-bottom: 1px solid #e1e1e1;
    padding: 0px;
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    padding-left: 15px;
    width: 150px;
}
.companyname
{
    margin: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    color: #303030;
    text-decoration: none !important;
}
.loading
{
	background: url(../black/images/waiting.gif);
}
.member-window
{
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-width: 1px 1px 0px 1px;
    bottom: 0;
    font-family: Verdana, Helvetica;
    font-size: 12px;
    line-height: 14.4px;
    position: fixed;
    width: 230px;
    z-index: 1000010;
}
.member-window-title
{
    background: none repeat scroll 0 0 #515050;
    color: #E6F1F7;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
}
.member-window-title-text
{
    margin-top: 1px;
}
.member-window-content
{
    font-family: Verdana, Helvetica;
    font-size: 12px;
}
.listitem
{
    background-color:#fff;
	padding-left: 5px;
}
.listitem-selected
{
    background-color:#000;
	padding-left: 5px;
}
.setting
{
    font-size:36px;
    color:#515050;
}
.help
{
    font-size:36px;
    color:#515050;
}
.user
{
    font-size:36px;
    color:#515050;
}
.loginbody
{
	background-image: none;
	background-color: #515050;
}
.view
{
    color:#515050;
    cursor:pointer;
}.removefav
{
    color:#fff!important;
    cursor:pointer;
    /*float:right;*/
    float:left;
    padding-right:5px;
    margin-left: -15px;/*20150402*/
    padding-top: 1px
}
.addfav
{
    color:#FEBF01!important;    
    cursor:pointer;
    /*float:right;*/
    float: left;
    padding-right:5px;
    margin-left: -15px;/*20150402*/
    padding-top: 1px
}
.removeTextcss
{
    border-radius:5px;	/*border-radius:0px; > S.SANDEEP [02 JUL 2015]*/
	border:none;
	background-color:#C4E1F2 /*S.SANDEEP [02 JUL 2015]*/	
}
/* SHANI [08 APR 2015]--DateControls--START */
.cal_Theme1
{
	color: Black;
	z-index: 999999;
}
.cal_Theme1 .ajax__calendar_container
{
	background-color: #fff;
	border: solid 1px #cccccc;
	width: 190px !important;
	color: #000;
	z-index: 999999;
}
.cal_Theme1 .ajax__calendar_header
{
	background-color: #ffffff;
	margin-bottom: 4px;
	width: 185px;
}
.cal_Theme1 .ajax__calendar_title, .cal_Theme1 .ajax__calendar_next, .cal_Theme1 .ajax__calendar_prev
{
	color: #000;
	padding-top: 3px;
}
.cal_Theme1 .ajax__calendar_body
{
	background-color: #fff;
	border: solid 1px #cccccc;
	width: 183px;
}
.cal_Theme1 .ajax__calendar_dayname
{
	text-align: center;
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: 2px;
}
.cal_Theme1 .ajax__calendar_day
{
	text-align: center;
}
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_month, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_year, .cal_Theme1 .ajax__calendar_active
{
	color: #fff;
	font-weight: bold;
	border-color: #A9A9A9;
	background-color: #000000;
	background-image: -webkit-linear-gradient(top,#A9A9A9 0,#000000 100%);
	background-image: -moz-linear-gradient(top,#A9A9A9 0,#000000 100%);
	background-image: -ms-linear-gradient(top,#A9A9A9 0,#000000 100%);
	background-image: -o-linear-gradient(top,#A9A9A9 0,#000000 100%);
	background-image: linear-gradient(top,#A9A9A9 0,#000000 100%);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}
.cal_Theme1 .ajax__calendar_today
{
	font-weight: bold;
}
.cal_Theme1 .ajax__calendar_other, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_today, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_title
{
	color: #000;
}
/* SHANI [08 APR 2015]--DateControls---END*/

 .dropdown
    {
        position: relative;
        display: inline-block;
        margin-left: 15px;
        margin-right: 20px;
    }
    .dropdown-content
    {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        min-width: 200px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin-left: 0px;
        margin-top: 31px;
        text-align: left;
        z-index: 1000011;
    }
    .dropdown-content a
    {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown a:hover
    {
        color: white;
        background-color: #FEBF01;
    }
    .show
    {
        display: block;
    }
    .btnOperationIcon
    {
        font-size: 26px;
        color: #fff;
        padding: 4px 6px;
        border-left: 1px solid #ffffff;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        margin-left: -29px;
        height: 23px;
    }
    .btnoperation
    {
        float: left;
        width: 130px;
        text-align: left;
    }
    
    /* advance filter*/
    .mycustomcss .ajax__tab_header
    {
        float: left;
    }
    .mycustomcss .ajax__tab_body
    {
        /*float:left;*/
        margin-left: 185px;
        border: 0 !important;
    }
    .mycustomcss .ajax__tab_outer
    {
        display: block !important;
    }
    .mycustomcss .ajax__tab_tab
    {
        /*min-width:200px;*/
        width: 170px;
        height: auto !important;
    }
    .mycustomcss .ajax__tab_header
    {
        font-family: Verdana , sans-serif;
        font-size: 14px;
        display: block;
    }
    .mycustomcss .ajax__tab_header .ajax__tab_outer
    {
        border-color: #fff;
        color: #fff;
        padding-left: 10px;
        margin-right: 3px;
        border: solid 1px #fff;
        background-color:#000 !important;
        padding-top:3px;
        padding-bottom:3px;
        border-radius:5px;
    }
    .mycustomcss .ajax__tab_header .ajax__tab_inner
    {
        border-color: #666;
        color: #fff;
        padding: 3px 10px 2px 0px;
    }
    .mycustomcss .ajax__tab_hover .ajax__tab_outer
    {
        background-color: #FEBF01;
        color :#fff !important;
    }
    .mycustomcss .ajax__tab_hover .ajax__tab_inner
    {
        color: #fff;
    }
    .mycustomcss .ajax__tab_active .ajax__tab_outer
    {
        border-bottom-color: #ffffff;
        background-color: #FEBF01 !important;
        color :#fff !important;
    }
    .mycustomcss .ajax__tab_active .ajax__tab_inner
    {
        color: #fff;
        border-color: #fff;
    }
    .mycustomcss .ajax__tab_body
    {
        font-family: verdana,tahoma,helvetica;
        font-size: 10pt;
        background-color: #fff;
        border-top-width: 0;
        border: solid 1px #d7d7d7;
        border-top-color: #ffffff;
    }
    .ajax__tab_default .ajax__tab_tab
    {
    	overflow: hidden;
        text-align: left;
        cursor: pointer;
        display: -moz-inline-box;
        display: inline-block;
    }
    
         .d-none 
    {
        display: none !important;
    }
    
    .d-block
    {
        display:block!important;
    }
    
    .text-left
{
	text-align:left !important;
}
.m-l--125 {
    margin-left: -125px;
}

.m-t--125 {
    margin-top: -125px;
}

.m-r--125 {
    margin-right: -125px;
}

.m-b--125 {
    margin-bottom: -125px;
}

.m-l--120 {
    margin-left: -120px;
}

.m-t--120 {
    margin-top: -120px;
}

.m-r--120 {
    margin-right: -120px;
}

.m-b--120 {
    margin-bottom: -120px;
}

.m-l--115 {
    margin-left: -115px;
}

.m-t--115 {
    margin-top: -115px;
}

.m-r--115 {
    margin-right: -115px;
}

.m-b--115 {
    margin-bottom: -115px;
}

.m-l--110 {
    margin-left: -110px;
}

.m-t--110 {
    margin-top: -110px;
}

.m-r--110 {
    margin-right: -110px;
}

.m-b--110 {
    margin-bottom: -110px;
}

.m-l--105 {
    margin-left: -105px;
}

.m-t--105 {
    margin-top: -105px;
}

.m-r--105 {
    margin-right: -105px;
}

.m-b--105 {
    margin-bottom: -105px;
}

.m-l--100 {
    margin-left: -100px;
}

.m-t--100 {
    margin-top: -100px;
}

.m-r--100 {
    margin-right: -100px;
}

.m-b--100 {
    margin-bottom: -100px;
}

.m-l--95 {
    margin-left: -95px;
}

.m-t--95 {
    margin-top: -95px;
}

.m-r--95 {
    margin-right: -95px;
}

.m-b--95 {
    margin-bottom: -95px;
}

.m-l--90 {
    margin-left: -90px;
}

.m-t--90 {
    margin-top: -90px;
}

.m-r--90 {
    margin-right: -90px;
}

.m-b--90 {
    margin-bottom: -90px;
}

.m-l--85 {
    margin-left: -85px;
}

.m-t--85 {
    margin-top: -85px;
}

.m-r--85 {
    margin-right: -85px;
}

.m-b--85 {
    margin-bottom: -85px;
}

.m-l--80 {
    margin-left: -80px;
}

.m-t--80 {
    margin-top: -80px;
}

.m-r--80 {
    margin-right: -80px;
}

.m-b--80 {
    margin-bottom: -80px;
}

.m-l--75 {
    margin-left: -75px;
}

.m-t--75 {
    margin-top: -75px;
}

.m-r--75 {
    margin-right: -75px;
}

.m-b--75 {
    margin-bottom: -75px;
}

.m-l--70 {
    margin-left: -70px;
}

.m-t--70 {
    margin-top: -70px;
}

.m-r--70 {
    margin-right: -70px;
}

.m-b--70 {
    margin-bottom: -70px;
}

.m-l--65 {
    margin-left: -65px;
}

.m-t--65 {
    margin-top: -65px;
}

.m-r--65 {
    margin-right: -65px;
}

.m-b--65 {
    margin-bottom: -65px;
}

.m-l--60 {
    margin-left: -60px;
}

.m-t--60 {
    margin-top: -60px;
}

.m-r--60 {
    margin-right: -60px;
}

.m-b--60 {
    margin-bottom: -60px;
}

.m-l--55 {
    margin-left: -55px;
}

.m-t--55 {
    margin-top: -55px;
}

.m-r--55 {
    margin-right: -55px;
}

.m-b--55 {
    margin-bottom: -55px;
}

.m-l--50 {
    margin-left: -50px;
}

.m-t--50 {
    margin-top: -50px;
}

.m-r--50 {
    margin-right: -50px;
}

.m-b--50 {
    margin-bottom: -50px;
}

.m-l--45 {
    margin-left: -45px;
}

.m-t--45 {
    margin-top: -45px;
}

.m-r--45 {
    margin-right: -45px;
}

.m-b--45 {
    margin-bottom: -45px;
}

.m-l--40 {
    margin-left: -40px;
}

.m-t--40 {
    margin-top: -40px;
}

.m-r--40 {
    margin-right: -40px;
}

.m-b--40 {
    margin-bottom: -40px;
}

.m-l--35 {
    margin-left: -35px;
}

.m-t--35 {
    margin-top: -35px;
}

.m-r--35 {
    margin-right: -35px;
}

.m-b--35 {
    margin-bottom: -35px;
}

.m-l--30 {
    margin-left: -30px;
}

.m-t--30 {
    margin-top: -30px;
}

.m-r--30 {
    margin-right: -30px;
}

.m-b--30 {
    margin-bottom: -30px;
}

.m-l--25 {
    margin-left: -25px;
}

.m-t--25 {
    margin-top: -25px;
}

.m-r--25 {
    margin-right: -25px;
}

.m-b--25 {
    margin-bottom: -25px;
}

.m-l--20 {
    margin-left: -20px;
}

.m-t--20 {
    margin-top: -20px;
}

.m-r--20 {
    margin-right: -20px;
}

.m-b--20 {
    margin-bottom: -20px;
}

.m-l--15 {
    margin-left: -15px;
}

.m-t--15 {
    margin-top: -15px;
}

.m-r--15 {
    margin-right: -15px;
}

.m-b--15 {
    margin-bottom: -15px;
}

.m-l--10 {
    margin-left: -10px;
}

.m-t--10 {
    margin-top: -10px;
}

.m-r--10 {
    margin-right: -10px;
}

.m-b--10 {
    margin-bottom: -10px;
}

.m-l--5 {
    margin-left: -5px;
}

.m-t--5 {
    margin-top: -5px;
}

.m-r--5 {
    margin-right: -5px;
}

.m-b--5 {
    margin-bottom: -5px;
}

.m-l-0 {
    margin-left: 0px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-r-0 {
    margin-right: 0px !important; 
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-l-5 {
    margin-left: 5px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-l-10 {
    margin-left: 10px;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-l-15 {
    margin-left: 15px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-t-20 {
    margin-top: 20px;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-l-25 {
    margin-left: 25px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-l-35 {
    margin-left: 35px;
}

.m-t-35 {
    margin-top: 35px;
}

.m-r-35 {
    margin-right: 35px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-l-45 {
    margin-left: 45px;
}

.m-t-45 {
    margin-top: 45px;
}

.m-r-45 {
    margin-right: 45px;
}

.m-b-45 {
    margin-bottom: 45px;
}

.m-l-50 {
    margin-left: 50px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-r-50 {
    margin-right: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-l-55 {
    margin-left: 55px;
}

.m-t-55 {
    margin-top: 55px;
}

.m-r-55 {
    margin-right: 55px;
}

.m-b-55 {
    margin-bottom: 55px;
}

.m-l-60 {
    margin-left: 60px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-r-60 {
    margin-right: 60px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.m-l-65 {
    margin-left: 65px;
}

.m-t-65 {
    margin-top: 65px;
}

.m-r-65 {
    margin-right: 65px;
}

.m-b-65 {
    margin-bottom: 65px;
}

.m-l-70 {
    margin-left: 70px;
}

.m-t-70 {
    margin-top: 70px;
}

.m-r-70 {
    margin-right: 70px;
}

.m-b-70 {
    margin-bottom: 70px;
}

.m-l-75 {
    margin-left: 75px;
}

.m-t-75 {
    margin-top: 75px;
}

.m-r-75 {
    margin-right: 75px;
}

.m-b-75 {
    margin-bottom: 75px;
}

.m-l-80 {
    margin-left: 80px;
}

.m-t-80 {
    margin-top: 80px;
}

.m-r-80 {
    margin-right: 80px;
}

.m-b-80 {
    margin-bottom: 80px;
}

.m-l-85 {
    margin-left: 85px;
}

.m-t-85 {
    margin-top: 85px;
}

.m-r-85 {
    margin-right: 85px;
}

.m-b-85 {
    margin-bottom: 85px;
}

.m-l-90 {
    margin-left: 90px;
}

.m-t-90 {
    margin-top: 90px;
}

.m-r-90 {
    margin-right: 90px;
}

.m-b-90 {
    margin-bottom: 90px;
}

.m-l-95 {
    margin-left: 95px;
}

.m-t-95 {
    margin-top: 95px;
}

.m-r-95 {
    margin-right: 95px;
}

.m-b-95 {
    margin-bottom: 95px;
}

.m-l-100 {
    margin-left: 100px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-r-100 {
    margin-right: 100px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.m-l-105 {
    margin-left: 105px;
}

.m-t-105 {
    margin-top: 105px;
}

.m-r-105 {
    margin-right: 105px;
}

.m-b-105 {
    margin-bottom: 105px;
}

.m-l-110 {
    margin-left: 110px;
}

.m-t-110 {
    margin-top: 110px;
}

.m-r-110 {
    margin-right: 110px;
}

.m-b-110 {
    margin-bottom: 110px;
}

.m-l-115 {
    margin-left: 115px;
}

.m-t-115 {
    margin-top: 115px;
}

.m-r-115 {
    margin-right: 115px;
}

.m-b-115 {
    margin-bottom: 115px;
}

.m-l-120 {
    margin-left: 120px;
}

.m-t-120 {
    margin-top: 120px;
}

.m-r-120 {
    margin-right: 120px;
}

.m-b-120 {
    margin-bottom: 120px;
}

.m-l-125 {
    margin-left: 125px;
}

.m-t-125 {
    margin-top: 125px;
}

.m-r-125 {
    margin-right: 125px;
}

.m-b-125 {
    margin-bottom: 125px;
}

.margin-0 {
    margin: 0px !important;
}

.p-l-0 {
    padding-left: 0px !important;
}

.p-t-0 {
    padding-top: 0px  !important;
}

.p-r-0 {
    padding-right: 0px  !important;
}

.p-b-0 {
    padding-bottom: 0px  !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-t-5 {
    padding-top: 5px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-l-35 {
    padding-left: 35px;
}

.p-t-35 {
    padding-top: 35px;
}

.p-r-35 {
    padding-right: 35px;
}

.p-b-35 {
    padding-bottom: 35px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-l-45 {
    padding-left: 45px;
}

.p-t-45 {
    padding-top: 45px;
}

.p-r-45 {
    padding-right: 45px;
}

.p-b-45 {
    padding-bottom: 45px;
}

.p-l-50 {
    padding-left: 50px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-r-50 {
    padding-right: 50px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-l-55 {
    padding-left: 55px;
}

.p-t-55 {
    padding-top: 55px;
}

.p-r-55 {
    padding-right: 55px;
}

.p-b-55 {
    padding-bottom: 55px;
}

.p-l-60 {
    padding-left: 60px;
}

.p-t-60 {
    padding-top: 60px;
}

.p-r-60 {
    padding-right: 60px;
}

.p-b-60 {
    padding-bottom: 60px;
}

.p-l-65 {
    padding-left: 65px;
}

.p-t-65 {
    padding-top: 65px;
}

.p-r-65 {
    padding-right: 65px;
}

.p-b-65 {
    padding-bottom: 65px;
}

.p-l-70 {
    padding-left: 70px;
}

.p-t-70 {
    padding-top: 70px;
}

.p-r-70 {
    padding-right: 70px;
}

.p-b-70 {
    padding-bottom: 70px;
}

.p-l-75 {
    padding-left: 75px;
}

.p-t-75 {
    padding-top: 75px;
}

.p-r-75 {
    padding-right: 75px;
}

.p-b-75 {
    padding-bottom: 75px;
}

.p-l-80 {
    padding-left: 80px;
}

.p-t-80 {
    padding-top: 80px;
}

.p-r-80 {
    padding-right: 80px;
}

.p-b-80 {
    padding-bottom: 80px;
}

.p-l-85 {
    padding-left: 85px;
}

.p-t-85 {
    padding-top: 85px;
}

.p-r-85 {
    padding-right: 85px;
}

.p-b-85 {
    padding-bottom: 85px;
}

.p-l-90 {
    padding-left: 90px;
}

.p-t-90 {
    padding-top: 90px;
}

.p-r-90 {
    padding-right: 90px;
}

.p-b-90 {
    padding-bottom: 90px;
}

.p-l-95 {
    padding-left: 95px;
}

.p-t-95 {
    padding-top: 95px;
}

.p-r-95 {
    padding-right: 95px;
}

.p-b-95 {
    padding-bottom: 95px;
}

.p-l-100 {
    padding-left: 100px;
}

.p-t-100 {
    padding-top: 100px;
}

.p-r-100 {
    padding-right: 100px;
}

.p-b-100 {
    padding-bottom: 100px;
}

.p-l-105 {
    padding-left: 105px;
}

.p-t-105 {
    padding-top: 105px;
}

.p-r-105 {
    padding-right: 105px;
}

.p-b-105 {
    padding-bottom: 105px;
}

.p-l-110 {
    padding-left: 110px;
}

.p-t-110 {
    padding-top: 110px;
}

.p-r-110 {
    padding-right: 110px;
}

.p-b-110 {
    padding-bottom: 110px;
}

.p-l-115 {
    padding-left: 115px;
}

.p-t-115 {
    padding-top: 115px;
}

.p-r-115 {
    padding-right: 115px;
}

.p-b-115 {
    padding-bottom: 115px;
}

.p-l-120 {
    padding-left: 120px;
}

.p-t-120 {
    padding-top: 120px;
}

.p-r-120 {
    padding-right: 120px;
}

.p-b-120 {
    padding-bottom: 120px;
}

.p-l-125 {
    padding-left: 125px;
}

.p-t-125 {
    padding-top: 125px;
}

.p-r-125 {
    padding-right: 125px;
}

.p-b-125 {
    padding-bottom: 125px;
}

.padding-0 {
    padding: 0px !important;
}

.card 
{
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    position: relative;
    margin-bottom: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

button.close {
     -webkit-appearance: none; 
     padding: 0; 
     cursor: pointer; 
     background: transparent; 
     border: 0; 
}

.fileext {
    background-color: brown;
    color: white;
    font-weight: bold;
}