﻿@media print /*--This is for Print--*/
{
    .btn {
        display: none;
    }

    .tble {
        background-color: #CD853F;
        border: 1px solid green;
        -webkit-print-color-adjust: exact;
        /*above line of codes will set the table background-color and change the border color when we give the print and preview (print preview only when we see on print preview via browser) command*/
    }
}

@media screen /*--This is for Print Preview Screen--*/
{
    .btn {
        display: none;
    }

    .tble {
        background-color: #CD853F;
        border: 1px solid green;
    }
}

@media screen /*--This is for Screen--*/
{
    .btn {
        background-color: #AFAFAF;
        display: block;
    }

    .tble {
        background-color: #E5E5E5;
        border: 1px solid #CD853F;
    }
}


body {
    background: rgb(204,204,204);
}

.sectionheader {
    font-size: 14px;
    font-weight: 600;
    background-color: #e0e0e0;
    text-align: center;
}

.sectionpanel {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

    #page[size="A4"] {
        width: 21cm;
        min-height: 29.7cm;
    }

        #page[size="A4"][layout="portrait"] {
            width: 29.7cm;
            height: 21cm;
        }

    #page[size="A3"] {
        width: 29.7cm;
        height: 42cm;
    }

        #page[size="A3"][layout="portrait"] {
            width: 42cm;
            height: 29.7cm;
        }

    #page[size="A5"] {
        width: 14.8cm;
        height: 21cm;
    }

        #page[size="A5"][layout="portrait"] {
            width: 21cm;
            height: 14.8cm;
        }

@media print {
    body, #page {
        margin: 0;
        box-shadow: 0;
    }
}


.gridHeader > td, .gridItem > td {
    padding: 5px;
}

.gridHeader {
    background-color: #AFAFAF;
    font-weight: bold;
}
.fontfamily {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.w-30 {
    width: 30% !important;
}
.w-20 {
    width: 20% !important;
}

.w-15 {
    width: 15% !important;
}
.w-40 {
    width: 40% !important;
}
.w-60 {
    width: 60% !important;
}
.w-85 {
    width: 85% !important;
}


v-align-t{
    vertical-align:top
}
.m-b-10 {
    margin-bottom: 10px
}

m-t-10 {
    margin-top: 10px
}
.hr-border {
    border-top: 1px solid #000
}
