﻿.modal_background
{
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	overflow: visible;
	top: 0;
}


.modal-body
{
	position: relative;
	padding: 15px;
}

button.close
{
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.close
{
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	position: absolute;
	top: 10px;
	right: 15px;
}

.modal-body h2
{
	color: #F79420;
}

.modal-body p
{
	margin: 0 0 10px;
}

.modal-footer
{
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}


.btn
{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-radius: 4px;
}
.btn-default
{
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.hidden
{
	display: none;
}













.modal-body
{
	box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
	background: #ffffff;
	border-radius: 8px;
	max-width: 400px;
	min-height: 200px;
	padding: 45px 20px;
	position: relative;
	width: 100%;
	overflow: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: ease 1s;
	border: 1px solid #ccc;
	position: fixed;
	top: 25%;
	z-index: 99999;
	background-color: white;
	left: 17%;
	right: 17%;
	-moz-box-shadow: 0 4px 30px -2px #000000;
	-webkit-box-shadow: 0 4px 30px -2px #000000;
	box-shadow: 0 4px 30px -2px #000000;
	margin: 0 auto;
}
.modal-body:after
{
	content: "";
	display: block;
	width: 260px;
	height: 260px;
	background: #f4f7f7;
	border-radius: 100%;
	position: absolute;
	right: -20px;
	bottom: -80px;
	z-index: -1;
}
.modal-body header
{
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
}
.modal-body img
{
	border-radius: 6px;
	width: 80px;
	height: 80px;
	margin-left: 5px;
}
.modal-body h1
{
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 20px;
}
.modal-body h4
{
	margin: 0;
	font-weight: normal;
}
.modal-body nav
{
	align-items: center;
	margin-top: 10px;
}
.modal-body nav ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.modal-body nav ul li
{
	display: table-row;
}
.modal-body nav ul span
{
	display: table-cell;
	text-decoration: none;
	color: #535c68;
	padding: 0.3rem 2.5rem;
}

.tbl-content table, .tbl-header table
{
	table-layout: fixed;
}

.tbl-header
{
	background-color: rgba(102,102,102,.3);
	border: 1px solid transparent;
	width: 800px;
	margin:auto;
}
.tbl-content
{
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid #666;
	width: 800px;
	border-top: transparent;
	border-bottom: none;
	margin:auto;
}
.tbl-header th
{
	padding: 10px;
	text-align: left;
	font-weight: 500;
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
}
.tbl-content td
{
	padding: 10px;
	text-align: left;
	vertical-align: top;
	font-weight: 300;
	font-size: 12px;
	color: #000;
	border-: #666;
	border-bottom: 1px solid #666;
	word-break: break-all;
}

.tbl-header tr > th:first-child, .tbl-content tr > td:first-child
{
	width: 25%;
}




