﻿/*  Please set color in html format */
/*  -----------------------------  */

/* BUTTON  */
.btn-primary {
    background-color: #FF5500 !important; /* #FF5500 */
    border-color: #FF5500 !important; /* #FF5500 */
    color: #fff; /* #fff */
}

.btn-primary:hover {
    color: #fff;
    background-color: #FF9900; /* #FF9900 */
    border-color: #0062cc;
}


/* SWITCH BUTTON (YES/NO)  */
.bootstrap-switch-primary {
    background-color: #FF5500 !important; /* #FF5500 */
    border-color: #FF5500; /* #FF5500 */
    color: #fff; /* #fff */
}


/* TEXTBOX */
.form-control:focus, .form-control:hover {
    border-color: #FF5500 !important; /* #FF5500 */
}

/* CHECKBOX */
[type="checkbox"] + label::before {
    content: "";
    background-color: #FF5500 !important; /* #FF5500 */
    border-color: #FF5500 !important; /* #FF5500 */
}


/* DROPDOWN MENU */
.dropdown-item.active, .dropdown-item:active {
    background-color: #FF5500 !important; /* #FF5500 */
}


/* CALENDER */
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_month, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_year, .cal_Theme1 .ajax__calendar_active {    
    background-color: #FF5500; /* #FF5500 */
    background-image: -webkit-linear-gradient(top,#276C9D 0,#FF5500 100%); /* #FF5500 */
    background-image: -moz-linear-gradient(top,#276C9D 0,#FF5500 100%); /* #FF5500 */
    background-image: -ms-linear-gradient(top,#276C9D 0,#FF5500 100%); /* #FF5500 */
    background-image: -o-linear-gradient(top,#276C9D 0,#FF5500 100%); /* #FF5500 */
    background-image: linear-gradient(top,#276C9D 0,#FF5500 100%); /* #FF5500 */   
}



/* HOME PAGE HEADER - BACKGROUND COLOR  */
.homeheader {
    background-color: #006BCA !important; /* #006BCA */ 
}

/* HOME PAGE HEADER - FONT COLOR  */
.homeheaderforecolor {
    color: white !important; /* white */
}


/* HOME PAGE NAVIGATION LINK (LEFT MENU ACTIVE LINK) - FONT COLOR  */
.nav-item + .active .nav-link {
    color: #FF5500 !important; /* #FF5500 */    
}

/* HEADER ON SEARCH JOB PAGE  */
.vacancy .card-header {
    background-color: FF5500 !important; /* #FF5500 */
    color: #fff !important; /* #fff */
}

.vacancy .card-header h4 {
    color: #fff !important; /* #fff */
}