﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="sessionexpire.aspx.vb" Inherits="sessionexpire" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <center>
            <h1 style="color: Red">
                Session Expired.!!!</h1>
            <h3>
                Please <a href="Index.aspx">Click here </a>to re-login.</h3>
        </center>
    </div>
    </form>
</body>
</html>
