﻿body {
    text-align: center;
    padding: 10%;
    font: 20px Helvetica, sans-serif;
    color: #333;
}

h1 {
    font-size: 50px;
    margin: 0;
}

article {
    display: block;
    text-align: left;
    max-width: 650px;
    margin: 0 auto;
}

a {
    color: #dc8100;
    text-decoration: none;
}

    a:hover {
        color: #333;
        text-decoration: none;
    }

@media only screen and (max-width : 480px) {
    h1 {
        font-size: 40px;
    }
}


