﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="PasswordRecovered.aspx.vb" Inherits="Aruti_Online_Recruitment.PasswordRecovered" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <%= System.Web.Helpers.AntiForgery.GetHtml()  %>

    <div>
    
    </div>
    </form>
</body>
</html>
